<div>


    <div class="title"><h1>Air pollution</h1></div>
    <div class="contentcitys">
        <app-maincard [city]="'Medellín'" (click)="gotoStationsPage('Medellín')" [image]="'https://cdn.forbes.co/2020/09/Medell%C3%ADn-foto-ProColombia.jpg'"></app-maincard>
        <app-maincard [city]="'Bogotá'" (click)="gotoStationsPage('Bogotá')" [image]="'https://www.elespectador.com/resizer/euT70vgRlJsWDE5I1zvN6Ed88M8=/525x350/filters:format(jpeg)/cloudfront-us-east-1.images.arcpublishing.com/elespectador/JCGRGEDVQRANZBDWLEEAGS6DVE.jpg'"> </app-maincard>
    </div>

</div>
